<!DOCTYPE html>
<html>
   <head>
       <title>The One</title>
   </head>
   <style>
   div {
     margin: 0 300px;
   }
   h2 {text-align: center;}
   p {text-align: center;}
   </style>
   <body>
   <div>
       <article>
	  <time>22.10.2024, 15:46</time>
	  <h2><a href="">The Way Everlasting</a></h2>
	  <p> "There is still one greater mystery to be revealed. It is the discovery that deeper than at-one-ment lies comm-union, love come full in the act of giving itself away. The non-dualism of the Western metaphysical stream is a flowing unity, a ”not-one, not-two, but both-one-and-two”, in which the continuous exchange of twoness and oneness and the dance of self-giving, love captures the very dynamism of the divine life itself. To discover myself as a divine being is certainly a spiritual attainment, but to discover myself as the divine beloved is to discover something even more intimate and profound about the hidden treasure that God longs to make known." </p>       	  
       </article>
   </div>
   </body>
</html>
